VITE_SUPABASE_URL=https://xxx.supabase.co
VITE_SUPABASE_ANON_KEY=xxx
STRIPE_SECRET_KEY=sk_live_xxx
STRIPE_WEBHOOK_SECRET=whsec_xxx
SUPABASE_SERVICE_ROLE_KEY=xxx
VITE_STRIPE_PRICE_PREMIUM_MONTHLY=price_xxx
VITE_STRIPE_PRICE_PREMIUM_YEARLY=price_xxx
TEST_CODES=CODE1,CODE2,CODE3
RESEND_API_KEY=re_xxx
